@font-face {
  font-family: NetflixRegular;
  src: url('./fonts/NetflixSans-Regular.otf');
}

@font-face {
  font-family: NetflixBold;
  src: url('./fonts/NetflixSans-Bold.otf');
}

@font-face {
  font-family: NetflixLight;
  src: url('./fonts/NetflixSans-Light.otf');
}

body {
  font-family: NetflixRegular;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
